<!DOCTYPE html>
<html>
<head>
	<title>TechLift - Turn on your career in Tech</title>
</head>
<body>
	<h1>About the Program</h1>
	<p>Pakistan is facing a skill gap problem in the IT industry, and to solve this issue, 22 of Pakistan's leading IT companies have joined hands with PSEB and P@SHA to launch TechLift.</p>
	<p>TechLift is Pakistan's first industry-led bootcamp program designed to train and empower the youth with the skills that are currently in high demand in the IT industry. The program provides not only training but also career advisory and job placement support to help individuals become successful IT professionals with confidence.</p>
	<p>The pilot program's primary objective is to train and recruit 4000 eligible graduates to fill the available positions in the software industry immediately.</p>
</body>
</html>
