<h1>Student Protection</h1>
<p>In accordance with the Office for Students' Regulatory Framework, the University has developed a Student Protection Plan. The plan outlines the measures that the University has put in place to safeguard the interests of both prospective and current students. This includes measures to ensure the quality of the education and academic experience provided by the University, as well as measures to protect students' interests in the event of unforeseen circumstances or changes to the University's operations or delivery of programmes. The Student Protection Plan is available for all students to access and review.</p>

